// Large screens
header {
    background-image: url('../img/backgroundhero.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    #logo {
        margin-top: 50px;
    }
    .grid-container,
    .grid-y {
        height: 100%;
    }
    p {
        font-size:16px;
        color: #fff;
    }
}

#intro {
    .large-4 {
        padding-top: 50px;
    }
}

#our_team {
    background-color: #EAF5FB;
    #team_image {
        background-image: url('../img/fototeam.jpg');
        background-position: center center;
        background-size: cover;
    }
}


#instagram {
    padding: 20px 0 100px;
    .large-12 {
        margin-bottom: 20px;
    }
    a.button {
        margin-left: 10px;
        margin-top: 12px;
    }
}

#promo_code {
    background-image: url('../img/ban-back.jpg');
    background-position: center center;
    background-size: cover;
    &,
    .grid-y {
        height: 500px; 
    }
    h3 {
        font-family: 'Cabin-bold';
        color: #fff;
    }
    span {
        font-variant: small-caps;
    }
    img {
        height: 80px;
        padding-right: 20px;
    }
}

#trip_advisor {
    text-align: center;
    p {
        width: 90%;
        margin: 0px auto 0;
    }
    .large-12 {
        margin-bottom: 50px;        
    }
    h5 {
         margin-top: 20px;
    }
}

#beaches {
    padding: 20px 0 100px;
    #matosinhos {
    }
    #leca {
    }
}

footer {
    background-image: url('../img/Background_footer.jpg');
    background-position: top center;
    background-size: cover;
    height: 750px;
    .logo_footer {
        padding-right:15px;
        padding-top: 10px;
    }
    .title_logo {
        width: 200px;
        margin-bottom: 30px;
    }
    p,a {
        margin:0;
        padding: 0;
    }
}










/* Define mobile styles */

@media only screen and (max-width: 40em) {

    h1 {
    font-size: 40px;
    }

    header {
        #logo {
            margin-top: 20px;
        }
    }
        
    #intro {
        padding-bottom: 50px;
        .large-4 {
            padding-top: 50px;
            margin-bottom: 20px;
        }
    h3, p {
        padding: 0 20px;
        }
    }
    
    #our_team {
        padding-top: 50px;
        h3, p {
            padding: 0 10px;
        }
        #team_image {
            width: 100%;
            height: 250px;
        }
    }
    
    #competition {
        padding: 50px 0 50px;
        h3, p {
            padding-left:10px;
        }
        h3 {
            padding-top: 20px;
        }
        #video {
            width: 100%;
            margin-top: 30px;
        }
        
    }
    
    #instagram {
        img.foto {
            margin-bottom: 10px;
        }
    }

    #beaches {
        #matosinhos,
        #leca {
            position: relative;
            background-color: #104150;
            margin-bottom: 50px;
            img {
                opacity: 0.7;
            }
            div {
                position: absolute;
                top: 40%;
            }
            h3 {
                width: 60%;
                margin: 0 auto;
                color: white;
            }
            a {
                position: absolute;
                bottom: -30px;
                right: 0;
                margin-right: 20px;
            }
        }
        #matosinhos {
        }
        #leca {
        }
    }


    #trip_advisor {
        padding: 70px 0 20px;
        p {
            margin-bottom: 20px;
        }
        .large-4 {
            margin-bottom: 20px;
        }
    }

    footer {
        .logo_footer {
        padding-right:20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .large-5 {
        margin-bottom: 20px;
    }
}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
    


} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */











// Large screens
@media only screen and (min-width: 64.063em) {

#intro {
    padding: 100px 0 0;
    .large-4 {
          order: 2;
    }
    .large-7 {
          order: 1;
    }
    #intro_image_2 {
        position: relative;
        top: -100px;
        left: 300px;
    }
}

#competition {
    padding: 100px 0;
    .large-4 {
          order: 2;
    }
    .large-7 {
          order: 1;
    }
}

#trip_advisor {
    padding: 100px 0;
    .large-4:hover {
        color:#104150;
    }
}

#our_team {
    &,
    .large-4,
    .grid-y,
    #team_image {
        height: 600px;
    }
}

#competition #video {
     width: 640px;
     height: 360px;
}

#beaches {
    #matosinhos,
    #leca {
        position: relative;
    }
    #matosinhos {
        div,
        a {
            position: absolute;
            left: -60px;
        }
        div {
            top: 20px;
        }
        a {
            bottom: 20px;
        }
    }
    #leca {
        padding-top: 40px;
        div,
        a {
            position: absolute;
            right: -60px;
            text-align: right;
        }
        div {
            top: 60px;
        }
        a {
            bottom: 80px;
        }
    }
}


} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
